.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 92%;
  margin-bottom: 10px;
}

.buttonboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.title {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500px;
}

button {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
}