.property {
  color:black;
  border-color:#576e8f;
  height: 300px;
  width: 275px;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

.image {
  width: 275px;
  height: 185px;
}

img {
  border-radius: 5px;
  height: 175px;
  width: 275px;
}

.panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  top: -170px;
}

.superhost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  left: 5px;
  font-size: 11px;
  font-weight: 600;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  box-shadow: 0 0 2px black;
}

.save {
  outline: none;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  margin-left: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.reviews {
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.details {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 2px 0px;
}

.price {
  font-weight: 900;
}

.star {
  color: #e6004c
}